<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
    <meta name="author" content="Adron Hall" />
    <meta name="keywords" content="add keywords here" />
    <meta name="description" content="add description" />
    <meta name="robots" content="all" />
    <title>@ViewBag.Title</title>
    <!-- to correct the unsightly Flash of Unstyled Content. http://www.bluerobot.com/web/css/fouc.asp -->
    <script type="text/javascript"></script>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <!-- For reference to the Microsoft or Google CDN check here:  http://compositecode.com/2010/07/06/jquery-starter-bits/ -->
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.5.1.min.js">
    </script>
    @RenderSection("headerAdditions", false)
</head>
<body onload="window.defaultStatus='Styling Provided by css Zen Garden';" id="InfrastructureBaseline">
    <div id="container">
        @RenderBody()
    </div>
</body>
</html>
s