@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ZenLayout.cshtml";
}
<h2>
    CSS Zen Garden Baseline Infrastructure Index</h2>
<p>
    This area of the baseline ASP.NET MVC web project provides implemented examples
    of the CSS Zen Garden samples. For more information on the CSS Zen Garden navigate
    over to the actual site for more themes, examples, and further information.</p>
<ol>
    <li>
    @Html.ActionLink("Co Ltd", "CoLtd", "ZenGarden")
    </li>
    <li>
    @Html.ActionLink("A Silent Strength", "SilentStrength", "ZenGarden")
    </li>
    <li></li>
    <li></li>
    <li></li>
</ol>
