* {
	margin: 0px; padding: 0px;
}
body {
	background: url("bg_body.gif") repeat-x left top rgb(218, 218, 218); margin: 0px auto; font-family: Arial, Helvetica, sans-serif;
}
#container {
	background: url("bg_container.gif") repeat-y left top; margin: 0px auto 50px; width: 776px; position: relative; z-index: 1;
}
#intro {
	background: url("bg_intro.jpg") no-repeat right top; padding: 1px; position: relative;
}
#pageHeader {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#pageHeader h1 {
	font: bold 154%/25px Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
#pageHeader h2 {
	font: bold 90%/25px Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
#quickSummary {
	font: 75%/18px Arial, Helvetica, sans-serif; top: 25px; right: 60px; color: rgb(0, 0, 0); position: absolute; font-size-adjust: none; font-stretch: normal;
}
#quickSummary .p1 {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#quickSummary a {
	color: rgb(242, 158, 0); font-weight: bold;
}
#quickSummary a:link {
	color: rgb(242, 158, 0); font-weight: bold;
}
#quickSummary a:visited {
	color: rgb(242, 158, 0); font-weight: bold;
}
#quickSummary a:hover {
	text-decoration: none;
}
#quickSummary a:active {
	text-decoration: none;
}
#quickSummary a:focus {
	text-decoration: none;
}
#preamble {
	background: url("bg_preamble.jpg") no-repeat right top; font: 80%/18px Arial, Helvetica, sans-serif; padding: 80px 30px 15px 15px; height: 100%; color: rgb(255, 255, 255); margin-top: 192px; margin-left: 210px; font-size-adjust: none; font-stretch: normal;
}
#preamble h3 {
	background: url("hl_roadto.gif") no-repeat left top; margin: 0px 0px 10px; width: 508px; height: 37px;
}
#preamble acronym {
	color: rgb(242, 158, 0); font-size: 85%; font-weight: normal; border-bottom-color: rgb(242, 158, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
#preamble p {
	padding-left: 30px;
}
#supportingText {
	font: 80%/18px Arial, Helvetica, sans-serif; padding: 15px 35px 15px 15px; height: 100%; color: rgb(255, 255, 255); margin-left: 210px; position: relative; font-size-adjust: none; font-stretch: normal;
}
#supportingText acronym {
	color: rgb(242, 158, 0); font-size: 85%; font-weight: normal; border-bottom-color: rgb(242, 158, 0); border-bottom-width: 1px; border-bottom-style: dotted;
}
#supportingText a {
	color: rgb(242, 158, 0); font-weight: bold; text-decoration: underline;
}
#supportingText a:link {
	color: rgb(242, 158, 0); font-weight: bold; text-decoration: underline;
}
#supportingText a:visited {
	color: rgb(242, 158, 0); font-weight: bold; text-decoration: underline;
}
#supportingText a:hover {
	text-decoration: none;
}
#supportingText a:active {
	text-decoration: none;
}
#supportingText a:focus {
	text-decoration: none;
}
#supportingText p {
	padding-left: 30px;
}
#explanation {
	width: 250px; float: left;
}
#explanation h3 {
	background: url("hl_sowhat.gif") no-repeat left top; margin: 0px 0px 10px 1px; width: 260px; height: 37px;
}
#explanation .p1 {
	background: url("cont_img_01.jpg") no-repeat 30px 0px; padding-top: 130px;
}
#participation {
	width: 240px; margin-top: -23px; margin-left: 265px;
}
#participation h3 {
	background: url("hl_participation.gif") no-repeat left top; margin: 23px 0px 10px 1px; width: 247px; height: 37px;
}
#participation .p1 {
	background: url("cont_img_02.jpg") no-repeat 30px 0px; padding-top: 130px;
}
#benefits h3 {
	background: url("hl_benefits.gif") no-repeat left top; margin: 23px 0px 10px 1px; width: 508px; height: 37px;
}
#requirements {
	margin-bottom: 50px;
}
#requirements h3 {
	background: url("hl_requirements.gif") no-repeat left top; margin: 23px 0px 10px 1px; width: 508px; height: 37px;
}
#preamble h3 span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#explanation h3 span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#participation h3 span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#benefits h3 span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#requirements h3 span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#linkList {
	background: url("bg_linkList.gif") repeat-y 0px 2px; padding: 15px 10px 0px 0px; top: 193px; width: 221px; color: rgb(255, 255, 255); font-weight: normal; position: absolute;
}
#linkList h3 {
	padding-left: 10px;
}
#linkList a {
	color: rgb(0, 0, 0); text-decoration: underline;
}
#linkList a:link {
	color: rgb(0, 0, 0); text-decoration: underline;
}
#linkList a:visited {
	color: rgb(0, 0, 0); text-decoration: underline;
}
#linkList a:hover {
	text-decoration: none;
}
#linkList a:active {
	text-decoration: none;
}
#linkList a:focus {
	text-decoration: none;
}
#linkList ul li {
	list-style: square; font-size: 70%;
}
#lselect {
	background: url("bg_lselect.gif") no-repeat left bottom; padding-bottom: 25px;
}
.select {
	background: url("h1_lselect.gif") no-repeat left top; margin: 0px auto; width: 185px; height: 29px; display: block;
}
#lselect ul li a {
	font: bold 110%/19px Arial, Helvetica, sans-serif; display: block; font-size-adjust: none; font-stretch: normal;
}
#lselect ul li a.c {
	font: 90%/19px Arial, Helvetica, sans-serif; color: rgb(255, 255, 255); display: inline; font-size-adjust: none; font-stretch: normal;
}
#larchives {
	background: url("bg_lselect.gif") no-repeat left bottom; padding: 15px 0px 40px;
}
.archives {
	background: url("h1_larchives.gif") no-repeat left top; margin: 0px auto; width: 185px; height: 29px; display: block;
}
#lresources {
	background: url("bg_lresources.gif") no-repeat left bottom; padding-bottom: 30px;
}
.resources {
	background: url("h1_lresources.gif") no-repeat left top; margin: 15px auto; width: 185px; height: 29px; display: block;
}
#larchives ul li a {
	font-weight: bold;
}
#lresources ul li a {
	font-weight: bold;
}
#lresources ul li {
	margin: 14px 0px 14px 35px;
}
#larchives ul li {
	margin: 14px 0px 14px 35px;
}
#lselect ul li {
	margin: 14px 0px 14px 35px;
}
.resources span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
.archives span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
.select span {
	left: -1000px; top: -1000px; width: 0px; height: 0px; overflow: hidden; display: inline; position: absolute;
}
#footer {
	background: url("bg_footer.gif") no-repeat left top; left: 25px; width: 312px; height: 54px; bottom: -27px; line-height: 50px; padding-left: 37px; position: absolute;
}
#footer a {
	padding: 0px 6px; color: rgb(0, 0, 0);
}
#footer a:link {
	padding: 0px 6px; color: rgb(0, 0, 0);
}
#footer a:visited {
	padding: 0px 6px; color: rgb(0, 0, 0);
}
* html #footer {
	bottom: -28px;
}
