@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Infrastructure Baseline Solution Home</h2>
<p>
    This content I need to translate to other languages. :)</p>
<ol>
    <li>
        @Html.ActionLink("Translations, Globalization, Localization Sample", "Translations", "Home")
    </li>
    <li>@Html.ActionLink("Zen Garden CSS Samples", "ZenGarden", "Home")</li>
</ol>
