@{
    ViewBag.Title = "Translations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    @Resources.WebResources.TranslationsTitle</h2>
<p>
    @Resources.WebResources.SentanceOne
</p>
<p>
    @Resources.WebResources.SentanceTwo</p>
